:root {
    --text-color: #4e4e4e;
    --background-color: #E9E9E9;
    --input-background-color: #dddddd;
    --popover-background-color: #cfcdcd;

    --accent: #afaae6;

    --checkbox-active: var(--accent);
    --button-add: var(--accent);
    --button-fill: var(--accent);
  }

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #cbccc5;
    --background-color: #252530;
    --input-background-color: #171721;
    --popover-background-color: #161623;

    --accent: #4d4886;

    --checkbox-active: var(--accent);
    --button-add: var(--accent);
    --button-fill: var(--accent);
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
  background-color: var(--background-color);
  max-width: 350px;
}

header {
  padding: 0px 16px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

code {
  background-color: var(--input-background-color);
  padding: 1px 5px;
  font-family: monospace;
  border-radius: 3px;
}

svg#icon {
  height: 24px;
  padding-right: 10px;
  color: var(--text-color);
}

#options-wrapper {
    padding: 0 10px;
}

#options {
  width: 100%;
}

#options p {
  color: var(--text-color);
}

.separator {
  background-color: var(--popover-background-color);
  height: 1px;
  margin: 4px 0;
}

#text-inputs {
  color: var(--text-color);
}

#text-inputs input {
  background-color: var(--input-background-color);
  color: var(--text-color);
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: none;
  width: 100%;
}

#text-inputs input::placeholder {
  font-style: italic;
}

#text-inputs h2 {
  display: inline;
}

#text-inputs p {
  /* font-style: italic; */
  display: inline;
  word-wrap: break-word;
  line-height: 17.5px;
}

#data-notice {
  margin-top: 10px;
  color: var(--text-color);
}

#data-notice p {
  font-style: normal;
  display: block;
  word-wrap: break-word;
  line-height: 17.5px;
  background-color: var(--popover-background-color);
  padding: 4px;
  border-radius: 3px;
}

#data-notice p.hidden {
  display: none;
}

#data-notice-checkbox {
  display: none;
}

#data-notice label span {
  padding: 5px;
  margin-bottom: -2px;
  border-radius: 2px;
  background-color: var(--input-background-color);
  border: 2px solid var(--text-color);
  display: inline-block;
  position: relative;
}

div#data-notice > label > input#data-notice-checkbox:checked + span {
  background-color: var(--checkbox-active);
}

footer {
  border: none;
  padding: 8px 10px;

  display: flex;
  column-gap: 5px;
}

footer button {
  width: 50%;
  height: 40px;

  border-radius: 5px;
  /* border: 2px solid rgba(0, 0, 0, 0.1); */
  border: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 15px;

  text-align: center;
}

footer button.add-button {
  background-color: var(--button-add);
}

footer button.autofill-button {
  background-color: var(--button-fill);
}

footer button:active {
  opacity: 0.5;
}

div#confirmation-popover {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

div#confirmation-popover.hidden {
  display: none;
}

div#confirmation-popover p {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--popover-background-color);
  color: var(--text-color);
  text-align: center;

  font-size: 20px;
  padding: 50px 25px;
  width: 250px;
  height: 225px;
  opacity: 0.9;
  border-radius: 3px;
}
